<h3>Edito anetarin</h3>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <div> Emri: <div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div> Email-i: <div>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <div> Fjala e kalimit: <div>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <div> Perseriteni fjalen e kalimit: <div>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Pertrije te dhenat" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">Nderroje foton</a>
</div>